/* -----------------------------------------
 GLOBAL
----------------------------------------- */
html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

body {
  font: 400 18px/1 'Poppins', Arial, sans-serif;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #FFF;
  text-align: left;
  text-transform: uppercase;
  background-color: rgba(27, 241, 173, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay__title {
  font-size: 22px;
  letter-spacing: 0.2em;
}

/* -----------------------------------------
 HEADER
----------------------------------------- */
header {
  padding: 60px 0 128px;
}

.intro {
  position: relative;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
  text-transform: uppercase;
  color: #303030;
  text-align: center;
}

.intro__title {
  position: relative;
  font-size: 86px;
  color: #000;
  margin-bottom: 90px;
}

.intro__title:before, .intro__title:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title:after {
  top: -60px;
  right: 224px;
  background-image: url("../img/plus.svg");
}

.intro__title:before {
  top: 140px;
  left: 0;
  background-image: url("../img/triangle.svg");
}

.intro__desc {
  font-weight: 600;
  margin-bottom: 25px;
}

.intro-slider__item {
  margin: 0 22px;
}

.intro-slider__img-box {
  position: relative;
  height: 330px;
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-slider__img-box:hover .overlay {
  opacity: 1;
}

.intro-slider__img-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.slick-active .intro-slider__img-box:after,
.slide-hover .intro-slider__img-box:after {
  background-color: rgba(255, 255, 255, 0);
}

.intro-slider .slider-arrow {
  display: block;
  position: absolute;
  top: 50%;
  width: 96px;
  height: 96px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: 2;
}

.intro-slider .slider-arrow--prev {
  left: 20px;
  background-image: url("../img/slider-arrow-left.png");
}

.intro-slider .slider-arrow--next {
  right: 20px;
  background-image: url("../img/slider-arrow-right.png");
}
